{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block css %}
<link type="text/css" rel="stylesheet" href=" {% static 'assets/css/bootstrap.min.css' %} ">
<link type="text/css" rel="stylesheet" href=" {% static 'assets/css/style.css' %} ">
<link type="text/css" rel="stylesheet" href=" {% static 'assets/fonts/font-awesome/css/font-awesome.min.css' %} ">
<link type="text/css" rel="stylesheet" href=" {% static 'assets/fonts/flaticon/font/flaticon.css' %} ">

{% endblock css %}
<div class="page_loader"></div>

<!-- Login 3 start -->
<div class="login-3">
    <div class="login-3-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-info">
                        <div class="form-section align-self-center">
                            <div class="btn-section clearfix">
                                <a href="{% url 'login_user' %}" class="link-btn active btn-1 default-bg">Вход</a>
                                <a href="{% url 'register' %}" class="link-btn btn-2 active-bg">Регистрация</a>
                            </div>
                            <div class="logo">
                                <a href="login-3.html">
                                    <img src="{% static 'assets/img/logos/logo-2.png' %}" alt="logo">
                                </a>
                            </div>
                            <h1>Добро пожаловать</h1>
                            <h3>Создать аккаунт</h3>
                            <div class="clearfix"></div>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="first_field" class="form-label">Имя</label>
                                    <input name="name" type="text" class="form-control" id="first_field" placeholder="Имя" aria-label="Имя">
                                </div>
                                <div class="form-group">
                                    <label for="second_field" class="form-label">Почта</label>
                                    <input name="email" type="email" class="form-control" id="second_field" placeholder="Почта" aria-label="Почта">
                                </div>
                                <div class="form-group clearfix">
                                    <label for="third_field" class="form-label">Пароль</label>
                                    <input name="password" type="password" class="form-control" autocomplete="off" id="third_field" placeholder="Пароль" aria-label="Пароль">
                                </div>
                                <div class="form-group clearfix">
                                    <label for="third_field" class="form-label">Подверждение Пароля</label>
                                    <input name="password_config" type="password" class="form-control" autocomplete="off" id="third_field" placeholder="Подверждение Пароля" aria-label="Подверждение Пароля">
                                </div>
                                <div class="form-group checkbox clearfix">
                                    <div class="clearfix float-start">
                                        <div class="form-check mb-0">
                                            <input class="form-check-input" type="checkbox" id="rememberme">
                                            <label class="form-check-label" for="rememberme">
                                                Я соглашаюсь с политекой сайта
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <button type="submit" class="btn btn-primary btn-lg btn-theme">Зарегистрироваться</button>
                                </div>
                            </form>
                            <p>Помощ & подершка</p>
                            <div class="social-list">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login 3 end -->

<!-- Ripple background start -->
<div class="ripple-background">
    <div class="circle xxlarge shade1"></div>
    <div class="circle xlarge shade2"></div>
    <div class="circle large shade3"></div>
    <div class="circle mediun shade4"></div>
    <div class="circle small shade5"></div>
</div>
<!-- Ripple background end -->

{% endblock content %}


{% block js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock js %}
    